.post-content{
    padding: 20px; 
}
.post-content span{
    display: block;
}
.post-title{

}
.post-body{
    line-height: 2;

    /* overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis; */
}

.post-datetime{
    font-size: 12px;
    font-weight: bold;
}


.newpostBtn{
    float:right; 
    border-radius: 10px;
    width:100px; 
    padding: 10px;
    border:1px solid black; 
    text-align: center;
}

.newpostBtn::after{
    content:"";
    display: block;
    clear:both;
}