.fade-container{
    position: relative;
    margin: auto;
}

.fade-container>div{
    width: 500px; 
    height: 300px;
    position: absolute;
    opacity: 0;
    transition: 1s;
}
.fade-container>div.active{
    opacity: 1;
}
.fade-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
