.tabs-container{
    width: 600px;
    margin: auto;
}
.tab-btns,
.tab-btns li{
    display: flex;
}
.tab-btns li{
    width: 50%;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border:1px solid lightgray;
} 
.tab-btns li.active{
    background-color: lightgray;
}
.tab-contents{
    position: relative;
}
.tab-contents>div{
    position: absolute;
    width:100%; 
    height: 200px;
    background-color: gainsboro;
    opacity: 0;
    transition: 1s;
}

.tab-contents>div.active{
    opacity: 1;
}