*{
    margin:0; 
    padding:0;
    text-decoration: none;
    color:#333;
    box-sizing: border-box;
    
}
a{
    color:inherit;
}
li{
    list-style: none;
}

body{
    font-size: 12px; 
}

.darkTheme{
    background-color: black;
    color:white;
}

h1,
h2,
h3,
section,
nav,
li,
div{
    color:inherit
}