.pagination{
    display: flex;
    gap:5px;
}

.pagination li{ 
    width: 20px; 
    height: 20px;
    border: 1px solid black ; 
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
}