/* default design */
.header-container{
    display: flex;
    background-color: gray;
    justify-content: space-between;
    width: 1600px;
    margin: auto;
}

.lnb-container ul,
.post-lnb-container ul{
    display: flex;
}

.lnb-container a{ 
    display: block;
    padding: 10px 20px;
}

@media screen and  (max-width:1200px){
    body{
        background-color: antiquewhite;
    }
    .header-container{
        width:100%;
    }
}

@media screen and  (max-width:1024px){
    body{
        background-color: rgb(216, 250, 215);
    }
}
@media screen and  (max-width:768px){
    body{
        background-color: rgb(215, 245, 250);
    }
}
@media screen and  (max-width:480px){
    body{
        background-color: rgb(250, 215, 249);
    }
}