/* default design */
.footer-container{
    display: flex;
    background-color: gray;
    justify-content: space-between;
    width: 1600px;
    margin: auto;
}

@media screen and  (max-width:1200px){
    body{
        background-color: antiquewhite;
    }
}
@media screen and  (max-width:1024px){
    body{
        background-color: rgb(216, 250, 215);
    }
}
@media screen and  (max-width:768px){
    body{
        background-color: rgb(215, 245, 250);
    }
}
@media screen and  (max-width:480px){
    body{
        background-color: rgb(250, 215, 249);
    }
}