.lnb{ display: flex;}
.lnb a{
    display: block;
    padding: 0.5rem 1rem; 
    font-size: 1.1rem;
}
.lnb a:hover{
    background-color: antiquewhite;
}
@media screen  and ( max-width: 1650px){

}
@media screen  and ( max-width: 1200px){
     
}
@media screen  and ( max-width: 1024px){
     
}
@media screen  and ( max-width: 768px){
     
}

/* 모바일 */
@media screen  and ( max-width: 480px){
     
}