
.swiper {
    width: 100%;
    height: 100%;
  }
  
.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: flex;
justify-content: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}

 
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    /* color: #fff;
    background: #007aff; */
    border: 1px solid blue; 
    position: relative; 
}

.swiper-pagination-bullet-active::after{
    position: absolute;
    top: 0; 
    content:"";
    display: block;
    width: 10px;
    height: 10px;
    margin:5px;
    background-color: blue;
    border-radius: 20px;
}